body {
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  line-height: 1.6;
  background-color: #ACBFA4; /* varm bakgrundsfärg */
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}
main {
  max-width: 1200px;
  margin: 0 auto;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif; /* finare rubrikstil */
  color: #000000; /* mörkare grön för rubriker */
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 0.05em
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  letter-spacing: 0.05em
}

p {
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto 20px auto;
  line-height: 1.7;
}





header {
    grid-area: header;
  height: fit-content;
  text-align: center;
  padding: 2px 10px;
  background-color: #D3D3D3;
  
  
}

nav {
  grid-area: nav;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #D3D3D3; 
}
body {
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  line-height: 1.6;
  background-color: #ACBFA4; /* varm bakgrundsfärg */
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    "header"
    "nav"
    "main"
    "footer";
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif; /* finare rubrikstil */
  color: #000000; /* mörkare grön för rubriker */
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-top: 10px;
  letter-spacing: 0.05em
}

h2 {
  font-size: 2rem;
  margin-bottom: 15px;
  letter-spacing: 0.05em
}

p {
  font-size: 1rem;
  max-width: 700px;
  margin: 0 auto 20px auto;
  line-height: 1.7;
}





header {
    grid-area: header;
  height: fit-content;
  text-align: center;
  padding: 2px 10px;
  background-color: #D3D3D3;
  
  
}

nav {
  grid-area: nav;
  display: flex;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  background-color: #D3D3D3; 
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  cursor: pointer;
  font-weight: bold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 2fr));
  justify-items: center;
  gap: 10px;
  padding: 10px;
}

footer {

  grid-area: footer;
  
  padding: 20px;
  background-color:#D3D3D3;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  
}


footer p {
  margin: 0;
  font-size: 0.85rem;
  color: #000000;
}

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

.card h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
   margin: 12px 0 6px;
   text-align: center;
}

.card p {
  font-family: "Quicksand", sans-serif;
  flex-grow: 1;
  font-size: 0.9rem;
  line-height: 1.5;
  color:#000000;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}

.card img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
}

.card img:hover {
  transform: scale(1.03);
}
.card {
  background: white;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  width: 100%;
  height: 360px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 24px;;
  
}



.aboutMe {
  display: flex;
  justify-content: space-between; /* Plats mellan text och bild */
  align-items: center;             /* Vertikalt centrerad */
  gap: 40px;                       /* Liten lucka mellan kolumner */
  max-width: 1000px;               /* Begränsar storlek på hela sektionen */
  margin: 0 auto;                  /* Centrerar sektionen på sidan */
  padding: 40px 20px;
}

.aboutText {
  flex: 1; /* Text tar tillgängligt utrymme på vänster sida */
}

.aboutImg {
  flex: 1; /* Bild tar resten av utrymmet */
  display: flex;
  justify-content: center; /* Centrerar bilden i sin kolumn */
}

.aboutImg img {
  width: 100%;       /* Tar hela kolumnen */
  max-width: 400px;  /* Största storlek på bilden */
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.gallery img {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.minadress {
  text-align: left;
  margin: 40px 0 20px 0;
  padding: 20px;
  max-width: 400px;
  background-color: #D3D3D3; /* ljus bakgrund för att lyfta den */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  line-height: 1.6;
  font-weight: bold;
}

.minadress {
  font-style: italic; /* inte kursiv */
  color: #000000;
  margin-top: 20px;
  font-size: 0.95rem;
  line-height: 1.4;
}

.minadress a {
  color: #000000;
  text-decoration: none;
}

.minadress a:hover {
  text-decoration: underline;
  color: #40513B;
}

@media (max-width: 768px) {


  header {
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 5px;
  }
  
  .aboutMe {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .aboutImg {
    margin-top: 20px;
    width: 200px;
    height: auto;
  }

  img {
  max-width: 100%;
  height: auto;
}
}

.homeGallery {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.galleryGrid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.galleryGrid img:hover {
  transform: scale(1.05);
}

.seeMore {
  margin-top: 15px;
}

.seeMore a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

.intro {
  max-width: 800px;       /* begränsa radlängden för läsbarhet */
  margin: 30px auto;      /* centrerar sektionen och ger luft ovanför/under */
  padding: 0 20px;        /* lite luft på sidorna */
  text-align: center;     /* centrerad text */
  font-size: 1.1rem;      /* lite större än vanlig text */
  line-height: 1.6;       /* bra radavstånd */
  color: #000000;            /* lite ljusare än rubrik, diskret */
}

.intro::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #D3D3D3; /* accentfärg */
  margin: 15px auto 0 auto;
  border-radius: 2px;
}

nav a {
  position: relative;
}

nav a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  cursor: pointer;
  font-weight: bold;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 1fr));
  justify-items: center;
  gap: 10px;
  padding: 10px;
}

.card img:hover {
  transform: scale(1.03);
}
footer {

  grid-area: footer;
  
  padding: 20px;
  background-color:#D3D3D3;

  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  
}


footer p {
  margin: 0;
  font-size: 0.85rem;
  color: #000000;
}

.lightbox {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.8);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.lightbox img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 12px;
}

.card h3 {
  font-family: "Playfair Display", serif;
  font-weight: 600;
   margin: 12px 0 6px;
   text-align: center;
}

.card p {
  font-family: "Quicksand", sans-serif;
  flex-grow: 1;
  font-size: 0.9rem;
  line-height: 1.5;
  color:#000000;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-align: center;
}

.card img {
  height: 220px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  object-position: center;
}

.card {
  background: white;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);

  width: 300px;
  height: 360px;

  display: flex;
  flex-direction: column;
  padding: 14px;
  
}



.aboutMe {
  display: flex;
  justify-content: space-between; /* Plats mellan text och bild */
  align-items: center;             /* Vertikalt centrerad */
  gap: 40px;                       /* Liten lucka mellan kolumner */
  max-width: 1000px;               /* Begränsar storlek på hela sektionen */
  margin: 0 auto;                  /* Centrerar sektionen på sidan */
  padding: 40px 20px;
}

.aboutText {
  flex: 1; /* Text tar tillgängligt utrymme på vänster sida */
}

.aboutImg {
  flex: 1; /* Bild tar resten av utrymmet */
  display: flex;
  justify-content: center; /* Centrerar bilden i sin kolumn */
}

.aboutImg img {
  width: 100%;       /* Tar hela kolumnen */
  max-width: 400px;  /* Största storlek på bilden */
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}

.gallery img {
  transition: transform 0.4s ease, box-shadow 0.4s ease;
}

.gallery img:hover {
  transform: scale(1.05);
  box-shadow: 0 20px 40px rgba(0,0,0,0.15);
}

.minadress {
  text-align: left;
  margin: 40px 0 20px 0;
  padding: 20px;
  max-width: 400px;
  background-color: #D3D3D3; /* ljus bakgrund för att lyfta den */
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: 'Quicksand', sans-serif;
  color: #000000;
  line-height: 1.6;
  font-weight: bold;
}


.minadress a {
  color: #000000;
  text-decoration: none;
}

.minadress a:hover {
  text-decoration: underline;
  color: #40513B;
}

@media (max-width: 768px) {


  header {
    padding: 10px;
  }

  nav ul {
    flex-direction: column;
    gap: 5px;
  }
  
  .aboutMe {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .aboutImg {
    margin-top: 20px;
    width: 200px;
    height: auto;
  }

  img {
  max-width: 100%;
  height: auto;
}
}

.homeGallery {
  max-width: 1000px;
  margin: 40px auto;
  padding: 0 20px;
  text-align: center;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.galleryGrid img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.galleryGrid img:hover {
  transform: scale(1.05);
}

.seeMore {
  margin-top: 15px;
}

.seeMore a {
  text-decoration: none;
  color: #000000;
  font-weight: 600;
}

.intro {
  max-width: 800px;       /* begränsa radlängden för läsbarhet */
  margin: 30px auto;      /* centrerar sektionen och ger luft ovanför/under */
  padding: 0 20px;        /* lite luft på sidorna */
  text-align: center;     /* centrerad text */
  font-size: 1.1rem;      /* lite större än vanlig text */
  line-height: 1.6;       /* bra radavstånd */
  color: #000000;            /* lite ljusare än rubrik, diskret */
}

.intro::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #D3D3D3; /* accentfärg */
  margin: 15px auto 0 auto;
  border-radius: 2px;
}

@media (min-width: 1024px) {
  header, nav {
    backdrop-filter: blur(6px);
    background-color: rgba(211, 211, 211, 0.85);
  }

  .galleryGrid img:nth-child(3n) {
    grid-row: span 2;
}
}






