<div class="stickyHeader">
  <header class="box">
    <div class="headerLeft">
      <img src="images/logo.png" alt="Vaavascanvas logo" class="headerLogo" />
    </div>
    <button class="menu-toggle" id="mobile-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <nav id="nav-menu">
      <ul class="link-list">
        <li><a href="index.html#top">Startsida</a></li>
        <li><a href="pictures.html">Mina verk</a></li>
        <li><a href="#footer">Kontakta mig</a></li>
      </ul>
    </nav>
  </header>
</div>