<div class="subscribe-modal" id="subscribeModal">
  <div class="subscribe-modal-inner">
    <span class="subscribe-close" id="subscribeClose">&times;</span>
    <h3 data-i18n="subscribe_heading">Håll dig uppdaterad</h3>
    <p data-i18n="subscribe_sub">Få ett mail när nya målningar läggs upp.</p>
    <form action="https://vaavascanvas.us14.list-manage.com/subscribe/post?u=907134e1082bc031e4f22b8ff&amp;id=484c9fc216" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="subscribe-form" novalidate>
      <div class="formGroup">
        <label for="mce-EMAIL" class="subscribe-label" data-i18n="subscribe_email_label">Din email</label>
        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="din@email.se" required>
      </div>
      <div class="formGroup">
        <button type="submit" class="submitBtn" data-i18n="subscribe_submit_btn">Prenumerera</button>
      </div>
      <div style="position: absolute; left: -5000px;" aria-hidden="true">
        <input type="text" name="b_907134e1082bc031e4f22b8ff_484c9fc216" tabindex="-1" value="">
      </div>
    </form>
    <label class="subscribe-already-label">
      <input type="checkbox" id="subscribeAlreadyCheckbox" />
      <span data-i18n="subscribe_already_subscribed">Jag är redan prenumererad</span>
    </label>
  </div>
</div>
